body {
  background: #8c4646;
}

.flashy, nav {
  font-family: 'Poiret One', cursive;
}

section {
  background: #588c7e;
  margin: 0 auto;
  height: 100vh;
  width: 97%;
  border: 5px solid #f2e394;
}

.flashy {
  color: #f96459;
  font-style: italic;
  text-align: center;
  font-size: 50px;
}

img {
  display: inline-block;
}

#portrait {
  float: right;
  margin-right: 50px;
  width: 525px;
}

.best {
  border: 4px solid #f2e394;
}

.landscape {
  margin-left: 50px;
  width: 700px;
}

a {
  text-decoration: none;
  color: #f96459;
  font-size: 18px;
  font-weight: lighter;
}

nav {
  align-self: center;
}
nav li {
  background: #f2e394;
  display: inline-block;
  list-style: none;
}

nav a {
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  font-size: 20px;
  color: #8c4646;
}

.logo {
  margin-right: 50px;
}

.logo a {
  font-size: 70px;
}

.intro {
  padding-bottom: 50px;

}

p {
  margin-left: 50px;
  margin-right: 50px;
}
